.container {
    width: 80vw;
    max-width: none;
    margin: 0 auto;
    padding: 20px;
}


/*list-grid1-parts, list-grid2-parts 共通
---------------------------------------------------------------------------*/
/*list-partsブロック全体を囲むブロック*/
.list-grid1-parts,
.list-grid2-parts {
    display: grid;
}

/*ボックス１個あたり*/
.list-grid1-parts .list-parts,
.list-grid2-parts .list-parts {
    display: grid;
}

/*list内の全ての要素のmarginとpaddingを一旦リセット*/
.list-grid1-parts .list-parts *,
.list-grid2-parts .list-parts * {
    margin: 0;
    padding: 0;
}

/*ボックス内のp要素*/
.list-grid1-parts .list-parts p,
.list-grid2-parts .list-parts p {
    font-size: 0.85rem; /*文字サイズを85%に*/
    line-height: 1.5; /*行間を少し狭く*/
}

/*list-grid1-parts
---------------------------------------------------------------------------*/

/*画面幅500px以上の追加指定*/
@media screen and (min-width: 500px) {
    /*listブロック全体を囲むブロック*/
    .list-grid1-parts {
        grid-template-columns: repeat(
            2,
            1fr
        ); /*2列にする指定。4列にしたければrepeat(4, 1fr)とする。*/
        gap: 1rem; /*ブロックの間に空けるマージン的な指定*/
    }
} /*追加指定ここまで*/

/*画面幅800px以上の追加指定*/
@media screen and (min-width: 800px) {
    /*listブロック全体を囲むブロック*/
    .list-grid1-parts {
        grid-template-columns: repeat(
            4,
            1fr
        ); /*3列にする指定。4列にしたければrepeat(4, 1fr)とする。*/
        gap: 1rem; /*ブロックの間に空けるマージン的な指定*/
    }
} /*追加指定ここまで*/

/*ボックス１個あたり*/
.list-grid1-parts .list-parts {
    padding: 1rem; /*ボックス内の余白*/
    background: #fff; /*背景色*/
    grid-template-rows: auto 1fr; /*１つ目（この場合はfigure要素のサイズ）は自動に、２つ目（この場合はtextブロック））を残った幅で使う*/
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); /*ボックスの影。右へ、下へ、ぼかし幅、0,0,0は黒の事で0.1は色が10%出た状態。*/
}

/*ボックス内のfigure画像*/
.list-grid1-parts .list-parts figure img {
    margin-bottom: 0.2rem; /*画像の下に空けるスペース*/
}

/*ボタン
---------------------------------------------------------------------------*/
.list-grid1-parts .btn-parts a {
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 0.25rem;

    background-color: #3c3c6c;
    color: #ffffff;

    font-family: inherit;
    line-height: inherit;
    font-size: 100%;

    box-shadow: none;
}
