main {
    height: auto;
    max-width: 80vw !important;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.card {
    border: none;
    height: auto;
}
.card-footer {
    background-color: #fff;
}
.ck-reset {
    width: 100%;
}
.editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: fit-content;
}
#editor {
    width: 600px;
    height: auto;
    border: 1px solid #ddd;
}
#toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.ck-editor__editable {
    writing-mode: vertical-rl;
    width: 100%;
    height: auto;
    min-height: 50vh;
    max-height: 50vh;
}
.ck-editor {
    width: 80%;
    height: auto;
}
.ck-editor__editable p {
    margin: var(--ck-spacing-large) 0;
}
.ck-editor__editable h1 {
    font-size: 30px;
    margin-top: 14.4px !important;
    margin-bottom: 14.4px !important;
}
.ck.ck-editor__editable_inline > :first-child {
    margin-top: 14.4px;
}
.ck.ck-editor__editable_inline > :last-child {
    margin-bottom: 14.4px;
}
.title {
    margin-top: 10px;
    text-align: center;
    font-family: "Noto Sans JP", Arial, sans-serif;
}
