/* ナビゲーションバーのスタイル */
:root {
    --primary-color: #3c3c6c;
}
nav {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* ページコンテンツのスタイル */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.white {
    color: white !important;
}
